body{
	background: #FFFFFF;
}

header{
	background-color: #2A2C2B;
	height: 85px;
}
#logo{
	background-color: #AD180F;
	margin-top: 8px;
	margin-left: 10px;
} 

nav ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
  	background-color: #940008;
	font-family: century, times new roman, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

nav li {
  	float: left;
}

nav li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 16px 25px;
  	text-decoration: underline;
}

nav li a:hover {
  	color: #450009;	
}

img{
	margin-left:30px;
	border-style: solid;
    	border-width: 5px;
    	border-color: #940008;
	
}

p{
	font-size: 25px;
	margin-left: 20px;
	font-family: agency fb, arial narrow, sans-serif;
}

h1{
	text-transform: uppercase;
	font-family: century, times new roman, sans-serif;
}

h3{
    	margin-top: 0px;
	margin-left:30px;
	font-family: agency fb, arial narrow, sans-serif;s

}

ul{
	font-family:  century,times new roman, sans-serif;
    	font-size:20px;
    	list-style-type: none;
}

ul li{
	padding: 5px; 
}

#member_information{

    	font-family: Eras Medium ITC, arial narrow, sans-serif;
    	font-size:20px;
   	list-style-type: none;
    	margin: 3px;
}

table {
    	margin-top: 15px;
    	margin-left: 150px;
}

th{
	text-transform: uppercase;
	background-color: #AD180F;
	font-size: 18px;
}

th, td {
    	border-bottom: 2px solid #ddd;
	font-family: century, times new roman, sans-serif;
}

td{
	height: 25px;
	vertical-align: bottom;
}

.border{
	border: 2px solid black;
	padding: 5px;
	font-family: century, times new roman, sans-serif;
	text-align: center;	
}

#times{
	text-align: right;
}

form{
	font-family: century, times new roman, sans-serif;
	font-size: 20px;
	margin-left: 30px;
	padding: 5px;
}

footer ul {

  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
  	background-color: #940008;
	font-family: century, times new roman, sans-serif;
	font-size: 17px;
	text-transform: uppercase;	
}

footer li {
  	float: left;
}

footer li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 16px 25px;
  	text-decoration: underline;
}

footer li a:hover {
  	color: #450009;	
}
